body {
    font-family: Poppins, sans-serif;
}

.main-content {
    display: flex;
    padding:60px 70px;
}

.radio-mf{
    color: white;
    background-color: black;
}

.category-menu {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 20px;
}

.search-results {
}

.category-menu p {
    margin-top: 10px;
}

.category-menu a {
    margin: 10px 0 0 13px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: 0.5s;
}

.category-menu a:hover {
    opacity: 1;
}

.category-list {
    list-style: none;
}

.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight: 700;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: auto;
    grid-row-gap: 40px;
}

.radio-male-female{
    color: #00AACE
    
}