.main-content {
    display: flex;
    padding:60px 0;
}

.category-filter {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 20px;
}

.category-filter p {
    margin-top: 10px;
}

.category-filter a {
    margin: 10px 0 0 13px;
}

.heading{
    font-size:20px;
    text-transform: capitalize;
    font-weight:400;
    margin-bottom: 40px;
    padding: 0 10vw;
}

.heading span{
    font-weight:700;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: auto;
    grid-row-gap: 40px;
}

.radio-male-female{
    color:#00AACE
    
}

.radio-mf{
    color:white;
    background-color: black;
}